.footer {
  display: flex;
  justify-content: center;
  margin-top: 153px;
  padding-bottom: 36px;
}

.footer--result {
  display: flex;
  justify-content: center;
  margin-top: 53px !important;
  padding-bottom: 36px;
}

.footer_bar {
  width: 90%;
  max-width: 1800px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 450;
}

@media (max-width: 768px) {
  .footer_bar {
    flex-direction: column;
    height: auto;
    margin-top: -80px;
  }

  .footer_count {
    padding: 10px 0;
  }
}
