.error_orverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.error_content {
  width: 600px;
  height: 334px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.error_icon {
  width: 124px;
  height: 124px;
}

.error_title {
  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  text-align: center;
}

.error_btn {
  height: 45px;
  width: 500px;
  background-color: #ea7979;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  color: white;
}

.popup_close {
  background-color: #ffe000;
  border: none;
  margin-top: 20px;
  height: 50px;
  font-size: 1.2rem;
}

.popup_close:hover {
  background-color: #ffe100d7;
  border: none;
  margin-top: 20px;
  height: 50px;
  font-size: 1.2rem;
  cursor: url("/assets/cry-cursor.png") 2 2, auto;
}

@media (max-width: 768px) {
  .error_content {
    aspect-ratio: 600 / 334;
    width: 80%;
  }

  .error_btn {
    width: 90%;
  }
}
