.mainPage {
  background-image: url("/assets/back-ground-image.png");
  background-size: cover;
  width: 100%;
}

/* qr코드 (qr) */
.qr_btn {
  width: 10%;
  min-width: 150px;
  position: relative;
  top: 15px;
  left: 15px;
}

/* 헤더 (Header) */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.header__logo {
  max-width: 100%;
  min-width: 10px;
  width: 450px;
  margin-top: 3%;
}

/* 컨텐츠 (Content) */
.content {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 28%;
  height: 80%;
  min-width: 430px;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.form_input {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.form_group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.btn_encrypt {
  color: white;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to right, #c08dec, #544fcb);
  border-radius: 5px;
  border: none;
  cursor: url("/assets/encrypt-cursor.png") 2 2, auto;
}

.btn_encrypt:hover {
  background-image: linear-gradient(to right, #a954f3, #201ad3);
  transform: scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.error_message {
  color: #b31f38;
  font-size: 0.8rem;
}

/* 푸터 (Footer) */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.footer_bar {
  width: 90%;
  height: 30%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer_bar {
    flex-direction: column;
    height: auto;
  }

  .footer_count {
    padding: 10px 0;
  }
}
