.result {
  width: 90%;
  max-width: 600px;
  height: 90%;
  height: 530px;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.result_input {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.result_group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.result_group label {
  font-size: 16px;
  color: #212121;
  font-weight: 600;
  margin-bottom: 10px;
}

.result_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.result_content {
  width: 100%;
  padding-right: 40px;
  background: rgba(84, 79, 203, 0.5);
  padding: 10px;
  box-sizing: border-box;
  height: 45px;
  border-radius: 6px;
  border: 2px solid #544fcb;
}

.reset_btn {
  color: white;
  width: 100%;
  padding: 10px;
  background: #544fcb;
  border-radius: 6px;
  border: none;
  cursor: url("/assets/encrypt-cursor.png") 2 2, auto;
  font-size: 18px;
  font-weight: 450;
}

.reset_btn:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.copy_icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.copy-message {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(104, 41, 255, 0.5);
  transform: translate(-50%, -50%);
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  z-index: 9999;
  animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

@media (max-width: 768px) {
  .result {
    height: 500px;
  }
}
