body,
html {
  font-family: "Pretendard-Regular";
  margin: 0;
  overflow-y: auto;
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/PretendardVariable.ttf") format("truetype");
}
